---
import CarrouselImages from "./CarrouselImages.astro";
---
<dialog class="text-base leading-8">
    <slot name="dialog-title"><p>Uoops</p></slot>
    <slot name="dialog-content"/>
    <CarrouselImages></CarrouselImages>
    <form method="dialog">
        <button class="button-dialog">Cerrar</button>
    </form>
</dialog>